# 自动为文章生成封面
article:
  auto_cover: false

# 主导航栏
sidebar:
  menu:
    post: '[btn.blog](/)'
    wiki: '[btn.wiki](/wiki/)'
    bookmark: '[探索](/bookmark/)'
    friends: '[社交](/friends/)'
  widgets:
    home: search, welcome, recent


# 页脚
footer:
#  左侧联系按钮
#  social:
#    github:
#      icon: '<img src="/assets/placeholder/social/08a41b181ce68.svg"/>'
#      url: https://
#    music:
#      icon: '<img src="/assets/placeholder/social/3845874.svg"/>'
#      url: https://
#    unsplash:
#      icon: '<img src="/assets/placeholder/social/3616429.svg"/>'
#      url: https://
#    comments:
#      icon: '<img src="/assets/placeholder/social/942ebbf1a4b91.svg"/>'
#      url: https://

  # 页面底部的站点导航
  sitemap:
    '博客':
      - '[近期](/)'
      - '[分类](/categories/)'
      - '[标签](/tags/)'
      - '[归档](/archives/)'
    '项目':
    #    - '[开源库](/)'
    '社交':
    #    - '[友链](/)'
    #    - '[留言板](/)'
    '更多':
      - '[关于本站](/about)'
      - '[GitHub](https://github.com/WMD001)'
  content: | # 支持 Markdown 格式
    本站由 [@wmd001](https://github.com/WMD001) 使用 [Stellar](https://github.com/xaoxuu/hexo-theme-stellar) 主题创建。
    本博客所有文章除特别声明外，均采用 [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) 许可协议，转载请注明出处。
  # 主题用户越多，开发者维护和更新的积极性就越高，如果您喜欢本主题，请在适当的位置显示主题信息和仓库链接以表支持。


# 自定义字体
style:
  font-family:
    logo: '"LXGW WenKai Screen", sans-serif'
    body: '"LXGW WenKai Screen", sans-serif'

  # 圆角
  border-radius:
    card: 12px # 卡片圆角
    block: 12px # 块圆角
    bar: 6px # 导航栏圆角
    image: 6px # 图片圆角



# 代码块复制
copycode:
  enable: true
  js: /js/plugins/copycode.js
  default_text: 'Copy' # 按钮显示文字
  success_text: 'Copied' # 复制成功信息

# 链接下划线
link:
  underline: true # true / false

# 评论插件
comments:
  service: giscus
  # giscus
  # https://giscus.app/zh-CN
  giscus:
    data-repo: WMD001/wmd001.github.io # [在此输入仓库]
    data-repo-id: R_kgDOJL9sYA# [在此输入仓库 ID]
    data-category: Announcements# [在此输入分类名]
    data-category-id: DIC_kwDOJL9sYM4CXXTa
    data-mapping: title
    data-strict: 0
    data-reactions-enabled: 1
    data-emit-metadata: 0
    data-input-position: top # top, bottom
    data-theme: preferred_color_scheme
    data-lang: zh-CN
    data-loading: lazy
    crossorigin: anonymous


tag_plugins:
  quot:
    default: # 可以自行配置多种图标方案
      prefix: https://bu.dusays.com/2022/10/24/63567d3e092ff.png
      suffix: https://bu.dusays.com/2022/10/24/63567d3e0ab55.png
    hashtag:
      prefix: https://bu.dusays.com/2022/10/24/63567d3e07da3.png
    quote:
      prefix: https://bu.dusays.com/2022/10/24/63567d3e092ff.png
      suffix: https://bu.dusays.com/2022/10/24/63567d3e0ab55.png
